.containerNpc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px #000000;
    transition: .3s;
}
.containerNpcHover:hover {
    box-shadow: 3px 3px 3px black;
    transform: scale(1.2);
    cursor:pointer;
}
.imgCard{
    height:50px;
}
.skeletonImg{
    width:50px;
    height:70px;
}
hr {
    width: 96%;
    background-color: white;
    height: 1px;
    margin: 0;
    margin-bottom: 1rem;
    display: block;
}
.cardInt {
    width: 180px;
    height: 220px;
    max-height:250px;
    background-color: #604436;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    width: 160px;
}
.btn-close {
    border:2px solid red;
}
.containerNpcShake:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}